*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@import './variable.scss';

html, body{
  font-size: 62.5%;
  width: 100svw;
  overflow-x: hidden;
}
body{
  font-family: $primaryFont;
  font-size: 1.6rem;
  background-color: $bgColor;
}





@import './Component.scss';
@import './Form.scss';
@import './withoutLoginContainer.scss';
@import './Layout.scss';
@import './ProductCard.scss';