@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;900&display=swap');

$primaryFont : 'Poppins',
'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;

$primaryColor: #E96479;
$primaryColorDark: #e4425a;

$secoandaryColor: #271d3a;
$textColor: #353535;
$bgColor: #fffcf6;
$accentColor: #059e96;
$white: #ffffff;